//vars
$green: #00bfbc
$gray: #d1d3de

//fonts
+font("proximanova-bold", "proximanova-bold")
=bold
	font-family: "proximanova-bold", Arial, sans-serif

//buttons
%button1
	width: 100%
	height: 34px
	line-height: 32px
	border: 3px solid transparent
	position: relative
	text-align: center
	+tr(all 0.3s)
%button2
	width: 100%
	height: 49px
	line-height: 49px
	border: 3px solid transparent
	text-align: center
	position: relative
	+tr(all 0.3s)
%button3
	width: 100%
	height: 27px
	line-height: 23px
	border: 3px solid transparent
	text-align: center
	position: relative
	+tr(all 0.3s)
.button-sm
	@extend %button3
	text-transform: uppercase
	+bold
	font-size: 12px
	color: #f9fcfd
	letter-spacing: 0.01em
.button-med
	@extend %button1
	text-transform: uppercase
	+bold
	font-size: 12px
	color: #f9fcfd
.button-big
	@extend %button2
	+bold
	color: #f9fcfd
	font-size: 18px
	text-transform: uppercase
	letter-spacing: 0.1em
.button_green
	background-color: $green
	border-color: #63dede
	&:hover
		background-color: lighten($green, 5%)
		border-color: lighten(#63dede, 10%)
	&:active
		background-color: darken($green, 5%)
		border-color: darken(#63dede, 1%)
.button_blue
	background-color: #a0cbd7
	border-color: #91b5bf
	&:hover
		background-color: lighten(#a0cbd7, 0.2%)
		border-color: darken(#91b5bf, 1%)
	&:active
		background-color: darken(#a0cbd7, 5%)
		border-color: darken(#91b5bf, 1%)
//icons
.icon-b
	display: inline-block
	width: 18px
	height: 23px
	background-image: url('../img/icon-b.png')
.icon-clock
	width: 14px
	height: 14px
	background-image: url('../img/icon-clock.png')
	display: inline-block
.icon-wait
	width: 14px
	height: 14px
	background-image: url('../img/icon-wait.png')
	display: inline-block
	animation: turn 1.3s linear infinite
.icon-warning
	width: 38px
	height: 38px
	background-image: url('../img/icon-warning.png')
	display: inline-block	
.icon-warning-sm
	width: 15px
	height: 15px
	background-image: url('../img/icon-warning-sm.png')
	display: inline-block
.icon-succes
	width: 38px
	height: 38px
	background-image: url('../img/icon-succes.png')
	display: inline-block
.icon-succes-sm
	width: 14px
	height: 10px
	background-image: url('../img/icon-succes-sm.png')
	display: inline-block

	
.pay-text
	+bold
	font-size: 16px
	text-transform: uppercase
	color: #363558
	letter-spacing: -0.03em
	.is-green
		color: #53c1c1
.pay-warn
	font-size: 14px
	text-transform: uppercase
	color: #d86780
	text-transform: uppercase
	+bold
.pay-meta
	+bold
	color: #a1a3ae
	text-transform: uppercase
	font-size: 16px
.pay-input
	width: 100%
	max-width: 223px
	height: 27px
	line-height: 27px
	background-color: #fff
	border: 1px solid #b7b7b7
	padding: 2px 10px
	+bold
	font-size: 14px
	color: #a1a3ae
.pay-link
	font-size: 16px
	color: #0b5096
	+bold
	position: relative
	cursor: pointer
	&:after
		content: ''
		display: block
		bottom: 3px
		left: 0
		width: 100%
		background-color: #a3bdd7
		height: 1px
		position: absolute
	&:hover
		&:after
			display: none
.pay-time
	color: #747370
	display: inline-block
	+f(i, 12)
	span
		display: inline-block
		vertical-align: middle
	i
		vertical-align: top
		margin-right: 8px
	.icon-succes-sm
		vertical-align: middle
.pay-green
	background-color: $green
	&:hover
		background-color: lighten($green, 4%)
	&:active
		background-color: darken($green, 5%)
.pay-gray
	background-color: $gray
	&:hover
		background-color: lighten($gray, 4%)
	&:active
		background-color: darken($gray, 5%)
.pay
	width: 500px
	margin: auto
	background-color: #fafcfd
	padding: 7px 29px 15px
	font-size: 16px
	color: #363558
	box-sizing: border-box
	
	*
		box-sizing: border-box

	&__logo
		text-align: center
		padding-top: 33px
		img 
			display: inline-block

	&__header
		font-size: 0
		[class*="col"], [class^="col"]
			display: inline-block
			vertical-align: bottom
			width: 50%
		.pay-time
			float: right
			margin-top: 14px
	&__t-table
		margin-top: 36px
		td
			vertical-align: top
			padding-bottom: 22px
			&.is-left
				padding-left: 23px
			&.is-right
				text-align: right
				padding-right: 16px
	&__wallet
		font-size: 0
		margin-top: 30px
		a
			width: 50%
			display: inline-block
			vertical-align: top
			color: #f9fcfd
			font-size: 12px
			text-transform: uppercase
			+bold
			text-align: center
			text-decoration: none
			height: 34px
			line-height: 36px
			letter-spacing: 0.1em
			cursor: pointer
			&:hover
				color: #f9fcfd
				+tr(all 0.3s)
	&__info
		min-height: 192px
		background-color: white
		border: 1px solid #b9bbc7
		font-size: 0
		padding: 25px 28px 20px 20px
		margin-bottom: 18px
		figure
			text-align: center
			p
				padding-bottom: 10px
			.pay-warn
				font-size: 14px
				line-height: 24px
		&.pay__info_mod1
			.pay-warn
				margin-bottom: 9px
			.pay-text
				margin-bottom: 13px
			.pay-input
				margin-bottom: 7px
				display: block
				width: 100%
		&.pay__info_mod3
			padding: 16px 28px 20px 20px
			figure
				margin-bottom: 25px
			.pay-text
				margin-bottom: 6px
			.col1
				width: 56%
				margin-right: 2%
			.col2
				width: 42%
		&.pay__info_mod4
			padding: 11px 28px 20px 20px
			figure
				margin-bottom: 16px
			.pay-text
				margin-bottom: 3px
			.col1
				width: 56%
				margin-right: 2%
			.col2
				width: 42%
		&.pay__info_mod5
			padding: 11px 12px 20px
			figure
				margin-bottom: 36px
			.pay-meta
				font-size: 14px
		&.pay__info_mod7
			padding: 21px 28px 20px 20px
		&.pay__info_mod8
			padding: 11px 24px 20px
			figure
				margin-bottom: 22px
			// .pay-warn
			// 	line-height: 24px
		&.pay__info_mod9
			padding: 16px 24px 20px
			figure
				margin-bottom: 20px
			.pay__row
				text-align: center
			.pay-text
				margin-bottom: 3px
			.pay-meta
				text-transform: inherit
		&.pay__info_mod10
			padding: 9px 15px 20px 15px
			figure
				figcaption
					line-height: 20px
			.pay__row
				text-align: center
				.col1, 
				.col2
					width: 50%
					.pay-text
						text-align: left
						margin-top: 20px
			.pay-meta
				text-transform: inherit
				margin-top: 10px
		&.pay__info_mod12
			padding: 9px 15px 20px 15px
			.col1
				width: 56%
				margin-right: 2%
			.col2
				width: 42%
			.col1.is-mod, .col2.is-mod
				width: 50%
				margin: 0
			.pay-text
				line-height: 18px
				margin-bottom: 15px
		&.pay__info_mod13
			padding: 25px 28px 20px 22px
			.col1
				width: 70%
			.col2
				width: 30%
			.pay-text
				margin-top: 37px
			.pay-input
				margin-top: 6px
			.pay-link
				margin-top: 4px
		[class^="col"], [class*="col"]
			display: inline-block
			vertical-align: top
		.col1
			width: 60%
		.col2
			width: 40%
		.pay-link
			display: inline-block
		.pay-qr
			float: right
	&__footer
		.pay__copy
			padding-top: 12px
		.pay-meta
			text-align: center
			text-transform: inherit
		button
			position: relative
			.icon-b
				margin: 0 17px 0 -17px
				position: relative
				top: 3px
			.icon-wait
				margin: 0 10px 0 0

@keyframes turn
	0%
		+rotate(-360)
	100%
		+rotate(0)