html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: "AvenirNext-Italic"; src: url("../fonts/AvenirNext-Italic.eot"); src: url("../fonts/AvenirNext-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Italic.woff") format("woff"), url("../fonts/AvenirNext-Italic.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: "AvenirNext-Regular", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 18px; line-height: 1.4; color: #343558; min-width: 320px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

a { color: inherit; transition: color 0.15s linear; }
a:hover { color: #F8CF5E; }

b, strong { font-family: "AvenirNext-DemiBold", Helvetica, Arial, sans-serif; font-weight: normal; }
b.demi, strong.demi { font-family: "AvenirNext-DemiBold", Helvetica, Arial, sans-serif; font-weight: normal; }

@font-face { font-family: "proximanova-bold"; src: url("../fonts/proximanova-bold.eot"); src: url("../fonts/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-bold.woff") format("woff"), url("../fonts/proximanova-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.button-med { width: 100%; height: 34px; line-height: 32px; border: 3px solid transparent; position: relative; text-align: center; transition: all 0.3s; }

.button-big { width: 100%; height: 49px; line-height: 49px; border: 3px solid transparent; text-align: center; position: relative; transition: all 0.3s; }

.button-sm { width: 100%; height: 27px; line-height: 23px; border: 3px solid transparent; text-align: center; position: relative; transition: all 0.3s; }

.button-sm { text-transform: uppercase; font-family: "proximanova-bold", Arial, sans-serif; font-size: 12px; color: #f9fcfd; letter-spacing: 0.01em; }

.button-med { text-transform: uppercase; font-family: "proximanova-bold", Arial, sans-serif; font-size: 12px; color: #f9fcfd; }

.button-big { font-family: "proximanova-bold", Arial, sans-serif; color: #f9fcfd; font-size: 18px; text-transform: uppercase; letter-spacing: 0.1em; }

.button_green { background-color: #00bfbc; border-color: #63dede; }
.button_green:hover { background-color: #00d9d5; border-color: #8de7e7; }
.button_green:active { background-color: #00a6a3; border-color: #5fdddd; }

.button_blue { background-color: #a0cbd7; border-color: #91b5bf; }
.button_blue:hover { background-color: #a1cbd7; border-color: #8eb3bd; }
.button_blue:active { background-color: #8ec1cf; border-color: #8eb3bd; }

.icon-b { display: inline-block; width: 18px; height: 23px; background-image: url("../img/icon-b.png"); }

.icon-clock { width: 14px; height: 14px; background-image: url("../img/icon-clock.png"); display: inline-block; }

.icon-wait { width: 14px; height: 14px; background-image: url("../img/icon-wait.png"); display: inline-block; -webkit-animation: turn 1.3s linear infinite; animation: turn 1.3s linear infinite; }

.icon-warning { width: 38px; height: 38px; background-image: url("../img/icon-warning.png"); display: inline-block; }

.icon-warning-sm { width: 15px; height: 15px; background-image: url("../img/icon-warning-sm.png"); display: inline-block; }

.icon-succes { width: 38px; height: 38px; background-image: url("../img/icon-succes.png"); display: inline-block; }

.icon-succes-sm { width: 14px; height: 10px; background-image: url("../img/icon-succes-sm.png"); display: inline-block; }

.icon-key { width: 34px; height: 38px; background-image: url("../img/icon-key.png"); display: inline-block; }

.pay-text { font-family: "proximanova-bold", Arial, sans-serif; font-size: 16px; text-transform: uppercase; color: #363558; letter-spacing: -0.03em; }
.pay-text > .is-green { color: #53c1c1; }
.pay-text.is-red { color: #d86780; }
.pay-text.is-mod { margin: 37px 0 6px; }

.pay-warn, .pay-lg { font-size: 14px; text-transform: uppercase; color: #d86780; text-transform: uppercase; font-family: "proximanova-bold", Arial, sans-serif; }

.pay-lg { color: #63dede; }

.pay-meta { font-family: "proximanova-bold", Arial, sans-serif; color: #a1a3ae; text-transform: uppercase; font-size: 16px; line-height: 18px; }

.pay-input { width: 100%; max-width: 223px; height: 27px; line-height: 27px; background-color: #fff; border: 1px solid #b7b7b7; padding: 2px 10px; font-family: "proximanova-bold", Arial, sans-serif; font-size: 14px; color: #a1a3ae; }

.pay-link { font-size: 16px; color: #0b5096; font-family: "proximanova-bold", Arial, sans-serif; position: relative; cursor: pointer; text-decoration: none; }
.pay-link:after { content: ""; display: block; bottom: 3px; left: 0; width: 100%; background-color: #a3bdd7; height: 1px; position: absolute; }
.pay-link:hover:after { display: none; }

.pay-time { color: #747370; display: inline-block; font-family: "AvenirNext-Italic", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 12px; }
.pay-time span { display: inline-block; vertical-align: middle; }
.pay-time i { vertical-align: top; margin-right: 8px; }
.pay-time .icon-succes-sm { vertical-align: middle; }

.pay-green { background-color: #00bfbc; }
.pay-green:hover { background-color: #00d3d0; }
.pay-green:active { background-color: #00a6a3; }

.pay-gray { background-color: #d1d3de; }
.pay-gray:hover { background-color: #dddee7; }
.pay-gray:active { background-color: #c2c5d3; }

.pay { width: 500px; margin: auto; background-color: #fafcfd; padding: 7px 29px 15px; font-size: 16px; color: #363558; box-sizing: border-box; }
.pay * { box-sizing: border-box; }
.pay__logo { text-align: center; padding-top: 33px; }
.pay__logo img { display: inline-block; }
.pay__header { font-size: 0; }
.pay__header [class*="col"], .pay__header [class^="col"] { display: inline-block; vertical-align: bottom; width: 50%; }
.pay__header .pay-time { float: right; margin-top: 14px; }
.pay__t-table { margin-top: 36px; }
.pay__t-table tr:last-child td { padding-bottom: 0; }
.pay__t-table td { vertical-align: top; padding-bottom: 22px; }
.pay__t-table td.is-left { padding-left: 23px; }
.pay__t-table td.is-right { text-align: right; padding-right: 16px; }
.pay__trn { text-align: center; margin-top: 30px; }
.pay__trn + .pay__wallet { margin-top: 30px; }
.pay__wallet { font-size: 0; margin-top: 54px; }
.pay__wallet + .pay__info { margin-top: 0; }
.pay__wallet a { width: 50%; display: inline-block; vertical-align: top; color: #f9fcfd; font-size: 12px; text-transform: uppercase; font-family: "proximanova-bold", Arial, sans-serif; text-align: center; text-decoration: none; height: 34px; line-height: 36px; letter-spacing: 0.1em; cursor: pointer; }
.pay__wallet a:hover { color: #f9fcfd; transition: all 0.3s; }
.pay__info { min-height: 192px; background-color: white; border: 1px solid #b9bbc7; font-size: 0; padding: 25px 28px 20px 20px; margin-bottom: 18px; }
.pay__info.pay__info_centered { text-align: center; }
.pay__info figure { text-align: center; margin-bottom: 20px; }
.pay__info figure p { padding-bottom: 10px; }
.pay__info figure .pay-warn { font-size: 14px; line-height: 24px; }
.pay__info .pay__kwrap { text-align: center; }
.pay__info .pay__wtext { text-align: center; }
.pay__info .pay__wtext { text-align: center; max-width: 310px; margin: auto; }
.pay__info .pay__log .col1 { width: 70%; }
.pay__info .pay__log .col2 { width: 30%; text-align: right; }
.pay__info .pay__balance { height: 27px; background-color: white; border: 1px solid #b7b7b7; padding: 3px 8px; margin-top: 20px; }
.pay__info .pay__balance .pay-meta { font-size: 14px; }
.pay__info .pay__balance .col2 { text-align: right; }
.pay__info .pay__conclusion { margin-top: 10px; }
.pay__info .pay__conclusion .col2 { text-align: right; }
.pay__info .pay__conclusion .pay-meta { text-transform: inherit; }
.pay__info .pay__overpaid { margin-top: 15px; }
.pay__info .pay__form { margin-top: 10px; }
.pay__info .pay__form.pay__form_no-marg { margin-top: 0; }
.pay__info .pay__form .col1 { width: 58%; }
.pay__info .pay__form .col2 { width: 42%; }
.pay__info .pay-wrp .col1 { width: 60%; }
.pay__info .pay-wrp .col2 { width: 40%; }
.pay__info .pay-add_marg { margin: 9px 0 13px; }
.pay__info .pay-f .pay-link { margin-top: 7px; }
.pay__info .pay-paid { margin-bottom: 6px; }
.pay__info .pay-paid.pay-paid_marg { margin-bottom: 3px; }
.pay__info .pay-redirected { margin-top: 36px; }
.pay__info .pay-redirected .pay-meta { font-size: 14px; }
.pay__info .pay-get { text-align: center; margin-top: 6px; }
.pay__info .pay-get .pay-meta { text-transform: inherit; }
.pay__info .pay__pa-ov .col1 { width: 49%; }
.pay__info .pay__pa-ov .col2 { width: 51%; }
.pay__info .pay__wcont .col1 { width: 70%; }
.pay__info .pay__wcont .col2 { width: 30%; }
.pay__info.pay__info_warn { padding: 9px 15px 20px; margin-top: 90px; }
.pay__info.pay__info_succ { padding: 9px 18px 20px 22px; margin-top: 90px; }
.pay__info [class^="col"], .pay__info [class*="col"] { display: inline-block; vertical-align: top; }
.pay__info .col1 { width: 60%; }
.pay__info .col2 { width: 40%; }
.pay__info .pay-link { display: inline-block; }
.pay__info .pay-qr { float: right; }
.pay__footer .pay__copy { padding-top: 12px; }
.pay__footer .pay-meta { text-align: center; text-transform: inherit; }
.pay__footer button { position: relative; }
.pay__footer button .icon-b { margin: 0 17px 0 -17px; position: relative; top: 3px; }
.pay__footer button .icon-wait { margin: 0 10px 0 0; }

@-webkit-keyframes turn { 0% { -ms-transform: rotate(-360deg); -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
  100% { -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); } }

@keyframes turn { 0% { -ms-transform: rotate(-360deg); -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
  100% { -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); } }



/*# sourceMappingURL=screen.css.map */
