meta(charset="utf-8")
block title
	title Payment
block viewport
	meta(name="viewport" content="width=device-width")
meta(name="format-detection" content="telephone=no")
link(rel="stylesheet" media="all" href="css/screen.css")
<!--[if IE]><script src="js/html5shiv.js"></script><![endif]-->

.out
	.pay
		.pay__header
			.col.col1
				button(type="button" class="button-med button_blue") << Cancel and return back
			.col.col2
				.pay-time
					i.icon-clock 
					span 09:34
		.pay__logo
			img(src="img/pay-logo.png" alt="logo" title="logo")
		table.pay__t-table
			tr
				td.is-left
					.pay-text Iphone 7S
				td.is-right
					.pay-text 10.00 
						span.is-green EUR
			tr
				td.is-left
					.pay-meta Usual unexisting device
			tr
				td.is-left
					.pay-text Amount due
				td.is-right
					.pay-text 0.0345678 
						span.is-green BTC
		.pay__wallet
			a(href="#" class="pay-gray") pay with external wallet
			a(href="#" class="pay-green") pay with Cubits wallet
		.pay__info.pay__info_mod13
			.col1
				.pay-text
					| Send exactly 0.00100000 BTC to
				input(type="text" class="pay-input")
				a.pay-link Copy address
			.col2
				.pay-qr
					img(src="img/qr.jpg" alt="QR-код" title="QR-код")
		.pay__footer
			button(type="button" class="button-big button_green")
				i.icon-b
				span open my bitcoin wallet
			button(type="button" class="button-big button_green button_wait" style={display: "none"})
				i.icon-wait
				span please wait...
			.pay__copy
				.pay-meta Powered by Cubits.com


